{%include "student_base.html"%} {%load static%}
<html lang="en">
  <head>
    <title>Complaint Management</title>
    <style>
.heading{
  color:rgba(46, 46, 72,1);
  padding-left: 20px;
  padding-bottom: 50px;
}
.disp_ar{
  width:80%;
  height: 70%;
  top:25%;
  left:25%;
  overflow-y: auto;
  position: absolute;
  background-color: tan;
}
    </style>
  </head>
  <link rel="stylesheet" href="{%static 'styles.css'%}" />
  <body>
    <div>
    <h1 class="heading">Complaint Management</h1>
    </div>
    <div class="disp_ar">
      <h2> All Complaints</h2>
          {% if messages %}
        {% for message in messages %}
      <div class="{{message.tags}}">
        {{message}}
      </div>
      {% endfor %}
      {% endif %}
        <table cellspacing="0" cellpadding="5em">
        <tr>
          <th> Name</th>
          <th>Place</th>
          <th> Category</th>
          <th>Date and Time</th>
          <th>Status</th>
        </tr>
        {% for i in lodging reversed %}
        <tr>
        <form method="post" action="Pending_Request">
          {% csrf_token %}
        <td class="a">{{i.Cleaning_DateTime}}</td>
        <td class="b">{{i.Place}}</td>
        <td class="b">{{i.category}}</td>
        <td><button type="submit" name = "identity" value = {{i.id}}>Done</button></td>
        </form>
        </tr>
        {% endfor %}
        </table>
  </div>
      </div>
    </div>
  </body> 
</html>
